<a href="https://colab.research.google.com/github/Madhav2204/LGMVIP-DataScience/blob/main/Task_9_Handwritten_equation_solver_using_CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Author : Madhav Shrivastava**

Task-9 : Handwritten equation solver using CNN

Problem Statement : Mathematical equation solver using character and symbol recognition using image processing and CNN. 
}

DatasetLink: https://www.kaggle.com/xainano/handwrittenmathsymbols

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_train=pd.read_csv('https://raw.githubusercontent.com/vipul79321/Handwritten-Equation-Solver/master/train_final.csv',index_col=False)
labels=df_train[['784']]

In [3]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.image_data_format()

'channels_last'

In [5]:
labels=np.array(labels)

In [6]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [7]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [8]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_train.shape

(47504, 784)

In [10]:
temp=df_train.to_numpy()

In [11]:
X_train = temp.reshape(temp.shape[0], 28, 28, 1)

In [12]:
temp.shape[0]

47504

In [13]:
X_train.shape

(47504, 28, 28, 1)

In [14]:
l=[]
for i in range(47504):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

In [15]:
np.random.seed(7)

In [16]:
len(l[0])

1

In [17]:
X_train.shape

(47504, 28, 28, 1)

In [18]:
model = Sequential()
model.add(Conv2D(32, (3,3), input_shape=(28, 28,1), activation='relu',padding='same'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(13, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [19]:
from keras.models import model_from_json

In [20]:
model.fit(X_train, cat, epochs=10, batch_size=200,shuffle=True,verbose=1)

Epoch 1/10
238/238 [==============================] - 28s 115ms/step - loss: 1.0996 - accuracy: 0.7084
Epoch 2/10
238/238 [==============================] - 27s 115ms/step - loss: 0.1901 - accuracy: 0.9430
Epoch 3/10
238/238 [==============================] - 27s 114ms/step - loss: 0.1138 - accuracy: 0.9658
Epoch 4/10
238/238 [==============================] - 27s 114ms/step - loss: 0.0788 - accuracy: 0.9774
Epoch 5/10
238/238 [==============================] - 27s 115ms/step - loss: 0.0607 - accuracy: 0.9816
Epoch 6/10
238/238 [==============================] - 28s 116ms/step - loss: 0.0476 - accuracy: 0.9857
Epoch 7/10
238/238 [==============================] - 28s 116ms/step - loss: 0.0403 - accuracy: 0.9876
Epoch 8/10
238/238 [==============================] - 29s 121ms/step - loss: 0.0339 - accuracy: 0.9891
Epoch 9/10
238/238 [==============================] - 29s 123ms/step - loss: 0.0325 - accuracy: 0.9897
Epoch 10/10
238/238 [==============================] - 30s 124ms/step - loss: 0.0290 - accuracy: 0.9906

In [21]:
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")

In [22]:
import cv2
import numpy
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
# K.set_image_dim_ordering('th')
from keras.models import model_from_json

In [23]:
json_file = open('model_final.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("model_final.h5")

In [33]:
from google.colab import files
uploaded = files.upload()

Saving test.jpeg to test.jpeg

In [34]:
import cv2
import numpy as np
img = cv2.imread('test.jpeg',cv2.IMREAD_GRAYSCALE)

In [36]:
if img is not None:
    #images.append(img)
    img=~img
    ret,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
    ctrs,ret=cv2.findContours(thresh,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)
    cnt=sorted(ctrs, key=lambda ctr: cv2.boundingRect(ctr)[0])
    w=int(28)
    h=int(28)
    train_data=[]
    print(len(cnt))
    rects=[]
    for c in cnt :
        x,y,w,h= cv2.boundingRect(c)
        rect=[x,y,w,h]
        rects.append(rect)
    print(rects)
    bool_rect=[]
    for r in rects:
        l=[]
        for rec in rects:
            flag=0
            if rec!=r:
                if r[0]<(rec[0]+rec[2]+10) and rec[0]<(r[0]+r[2]+10) and r[1]<(rec[1]+rec[3]+10) and rec[1]<(r[1]+r[3]+10):
                    flag=1
                l.append(flag)
            if rec==r:
                l.append(0)
        bool_rect.append(l)
    print(bool_rect)
    dump_rect=[]
    for i in range(0,len(cnt)):
        for j in range(0,len(cnt)):
            if bool_rect[i][j]==1:
                area1=rects[i][2]*rects[i][3]
                area2=rects[j][2]*rects[j][3]
                if(area1==min(area1,area2)):
                    dump_rect.append(rects[i])
    print(len(dump_rect)) 
    final_rect=[i for i in rects if i not in dump_rect]
    print(final_rect)
    for r in final_rect:
      x=r[0]
      y=r[1]
      w=r[2]
      h=r[3]
      im_crop =thresh[y:y+h+10,x:x+w+10]
      im_resize = cv2.resize(im_crop,(28,28))
      im_resize=np.reshape(im_resize,(28,28,1))
      train_data.append(im_resize)

5
[[0, 0, 940, 471], [42, 111, 26, 210], [177, 102, 221, 220], [472, 135, 208, 152], [884, 118, 24, 214]]
[[0, 1, 1, 1, 1], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0]]
4
[[0, 0, 940, 471]]

In [37]:
s=''
for i in range(len(train_data)):
    train_data[i]=np.array(train_data[i])
    train_data[i]=train_data[i].reshape(1,28,28,1)
    #result=loaded_model.predict_classes(train_data[i])
    result=np.argmax(loaded_model.predict(train_data[i]), axis=-1)
    if(result[0]==10):
        s=s+'-'
    if(result[0]==11):
        s=s+'+'
    if(result[0]==12):
        s=s+'*'
    if(result[0]==0):
        s=s+'0'
    if(result[0]==1):
        s=s+'1'
    if(result[0]==2):
        s=s+'2'
    if(result[0]==3):
        s=s+'3'
    if(result[0]==4):
        s=s+'4'
    if(result[0]==5):
        s=s+'5'
    if(result[0]==6):
        s=s+'6'
    if(result[0]==7):
        s=s+'7'
    if(result[0]==8):
        s=s+'8'
    if(result[0]==9):
        s=s+'9'
    
print(s)

8

In [38]:
eval(s)

8

## **Thanks**